@charset "utf-8";
/* 初期設定 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  position: relative; /*←相対位置*/
  padding-bottom: 120px; /*←footerの高さ*/
  box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
}
#wrap {
  height: 100vh;
  background-color: white;
}
img {
  border: hidden;
  margin: 0;
}
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}
/* header */
/* OK */
.name {
  position: fixed;
  top: 53px;
  left: 3%;
  z-index: 1;
  height: 43px;
}
/* menu */
button {
  border: 0 none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
#open_menu {
  position: absolute;
  top: 60px;
  right: 3%;
  z-index: 1111111111;
  display: inline-block;
}
#close_menu {
  position: absolute;
  top: 60px;
  right: 3%;
  z-index: -1111111111;
  display: inline-block;
}
#open_menu .hum_line1 {
  width: calc(100% - 1px);
  height: 1px;
  margin-bottom: 5px;
  background-color: #000000;
}
#open_menu .hum_line2 {
  width: calc(100% - 1px);
  height: 1px;
  margin-bottom: 5px;
  background-color: #000000;
}
#open_menu .hum_line3 {
  width: calc(100% - 1px);
  height: 1px;
  margin-bottom: 5px;
  background-color: #000000;
}
#close_menu .line1 {
  width: calc(100% - 1px);
  height: 1px;
  z-index: 11111111111;
  background-color: #000000;
  transform: rotate(45deg);
}
#close_menu .line2 {
  width: calc(100% - 1px);
  height: 1px;
  z-index: 11111111111;
  background-color: #000000;
  transform: rotate(-45deg);
}
/* main */
main {
  position: relative;
  text-align: center;
  padding: 150px 50px 0px 50px;
}
.page_title {
  margin: 0 auto;
  font-size: 48px;
}
/* nav */
.menu_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.menu_list li {
  vertical-align: top;
  margin-bottom: 35px;
  font-size: 24px;
}
.home_link {
  font-size: 30px;
}
nav {
  position: fixed;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 88888;
}
/* footer */
/* copyright */
.copyright {
  width: 100%;
  font-size: 20px;
  line-height: 56px;
  text-align: right;
  position: absolute; /*絶対位置*/
  bottom: 0; /*下に固定*/
}
.copyright p {
  padding-right: 15px;
}
