@charset "utf-8";

/* main */
.account_list {
  top: 40%;
  left: 20%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
.account_link {
  text-align: center;
  vertical-align: middle;
}
.account_list a {
  margin: 0px 30px;
}
.account_list img {
  max-height: 120px;
  margin-bottom: 25px;
}
