@charset "utf-8";

/* main */
.account_list {
  display: flex;
  margin: 5em 10em;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.account_list img {
  max-height: 120px;
  min-width: 120px;
  margin-bottom: 1.5em;
}
.account_box {
  padding: 0px 30px 0px 30px;
}
