@charset "utf-8";
html,
body {
  height: 100vh;
}

/* main */
/* OKUGAWA KANTA */
.title {
  position: fixed;
  min-width: 606px;
  min-height: 77px;
  left: 834px;
  top: 450px;

  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: left;

  color: #000000;
}

