@charset "utf-8";
html,
body {
  height: 100vh;
}
#wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
}
/* main */
/* OKUGAWA KANTA */
.title {
  position: relative;
  width: 100%;
  z-index: 100;
  font-size: 48px;
  text-align: right;
  margin-top: 3.5em;
  padding-right: 2em;
}
/*変更予定*/
