@charset "utf-8";
html,
body {
  height: 100vh;
  overflow: hidden;
}

/* main */
/* OKUGAWA KANTA */
.title {
  position: fixed;
  min-width: 606px;
  min-height: 77px;
  left: 834px;
  top: 450px;

  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: left;
}
.polygon1 {
  /* Polygon 1 */
  position: absolute;
  width: 0px;
  height: 0px;
  top: -300px;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 1000px solid #e09eff;
  transform: rotate(45deg);
  z-index: 1;
}
.polygon2 {
  /* Polygon 1 */
  position: absolute;
  width: 0px;
  height: 0px;
  top: -190px;
  left: 550px;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 1000px solid #e7ff88;
  transform: rotate(-40deg);
}
