@charset "utf-8";
/* 初期設定 */
* {
  padding: 0;
  margin: 0;
}
/* body {
  background-color: #dddddd;
  height: 100%;
  font-family: Georgia, "ＭＳ Ｐゴシック", sans-serif;
} */
img {
  border: hidden;
  margin: 0;
}
