@charset "utf-8";

/* main */
.account_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account_box {
  min-width: 150px;
  margin-bottom: 3em;
}
.icon {
  display: block;
  max-height: 3.5em;
  min-width: 3.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}
.account_box p {
  text-align: center;
}
