@charset "utf-8";

/* main */
.account_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account_list img {
  max-height: 4em;
  min-width: 4em;
  margin-bottom: 1.5em;
}
.account_box {
  padding: 0px 30px 2em 30px;
}
.account_box p {
  text-align: center;
}
